@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');
.info{

    background-color: #6d8e8e4f;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    box-shadow: 5px 4px 10px #fafafbfc;
}



.info img{
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}
.teamDetails{
    text-align:left;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}
.team-info{
    background-color:#3535481f;
}
.teamStatus{
    text-align:left;
    text-align: left;
    margin-top: 20px;
}
.favIcon{
    display: flex;
   margin:auto;
    align-items:center;
}
.social{
    
    margin: 10px;
    
}
  

.socialIcon{
    width: 50px !important;
    height: 100px;

}
